.navBar {
    padding: 15px 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-right: 25px;
     padding-left: 25px; 
    
  }

  .navBar ul {
    gap: 40px;
    list-style-type: none;
    display: flex;
    

    
  }

  .Titre {
    color:#ecf0f1;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
   
  }


  a {
    display: block;
    padding: 8px 16px;
    text-align: center;
    color:#EEE;
    font-size: 16px;
    margin-bottom: 16px;
    text-decoration: none;
}

